{% extends "bootstrap/base.html" %}

{% block title %}
    Coffee supply
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='all.css')}}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/dashboard">Coffee supply</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/providers">Providers</a></li>
                <li class="nav-item"><a class="nav-link" href="/offers">Offers</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-item" href="/logout"><span class="fa-sign-out"></span> Logout</a></li>
            </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2>Coffee providers with offers</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Provider name</th>
                <th>Number of coffee brands</th>
                <th>Frequency of delivery (for month)</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for users_provider in users_providers %}
                <tr>
                    <td>{{ users_provider.name }}</td>
                    <td>{{ users_provider.numberBrands }}</td>
                    <td>{{ users_provider.frequency }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}