{% extends "bootstrap/base.html" %}

{% block title %}
    Coffee supply
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">Coffee supply</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/providers">Providers</a></li>
                    <li class="active"><a href="/offers">Offers</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Coffee providers with offers</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Provider name</th>
                <th>Number of coffee brands</th>
                <th>Frequency of delivery (for month)</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for users_provider in users_providers %}
                <tr>
                    <td>{{ users_provider.name }}</td>
                    <td>{{ users_provider.numberBrands }}</td>
                    <td>{{ users_provider.frequency }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}